*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

body h1 h2 h3 h4 h5{
    overflow-x: hidden;
    font-family: Poppins;
    font-style: normal;
}

.navbar{
    display: flex;
    top: 0px;
    left: 0px;
    background-color: #2d56de;
    height: 12vh;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.navbarLogo{
    position: absolute;
    left: 20px;
}

.navbarList a{
    text-decoration: none;
}

.navbarList li{
    display: inline;
    list-style-type: none;
    padding: 0 10px 0 20px;
    color: white;
    font-weight: 600;
}

.navbarList span{
    background-color: white;
    border-radius: 4px 14px;
    padding: 5px 0;
}

.navbarList span li{
    color: #2d56de;
    padding-left: 10px;
}

.navbarList li:hover{
    font-size: 22px;
}

.main{
    position: inherit;
    width: 80%;
    height: 80vh;
    margin: -50px auto 0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainHeader{
    position: relative;
    left: 13%;
    font-size: 22px;
    margin-top: 45px;
}

.mainCards{
    position: relative;
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    background: url('https://c.neh.tw/thumb/f/720/90853687676949969899.jpg');
    border-radius: 20px;
    box-shadow: 7px 7px 13px 0 black;
    width: 18vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
}

.card:hover{
    width: 20vw;
    height: 47vh;
    cursor: pointer;
}

.cardContent{
    margin: 0 0 30px 10px;
}

.cardContent h4{
    color: darkgray;
}

.cardContent button{
    color: white;
    border-style: none;
    background-color: #2d56de;
    height: 5vh;
    border-radius: 6px 20px;
    display: block;
    width: 80%;
    margin: 2vh auto 0 auto;;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.contato{
    background-color: #2d56de;
    width: 100%;
    height: 80vh;
    margin: 5vh auto 0;
    justify-content: center;
}

footer{
    background-color: #102156;
    width: 100%;
    height: 20vh;
    display: flex;
}

footer img{
    margin-left: 2.6vw;
    width: 50%;
    height: auto;
}


.footerEndereco{
    display: flex;
    color: white;
    position: relative;
    align-items: left;
    left: 30px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.footerContent{
    display: flex;
    position: relative;
    right: 30px;
    color: white;
    width: 50%;
    left: 49%;
    align-items: center;
    justify-content: space-between;
}

.footerContent li{
    display: inline;
    list-style-type: none;
}

.footerCenter{
    margin-bottom: 6vh;
}

.contatoHeader{
    color:white;
    position: absolute;
    text-align: right;
    margin-top: 8vh;
    width: 84%;
}

.contatoHeader h4{
    color: lightgray;
}

.formContainer{
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    position: relative;
    top: 26%;
    background-color: white;
    border-radius: 16px 48px ;
}

.form{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    justify-content: space-between;
    top: 8%;
    font-size: 25px;
    padding-bottom: 10vh;
    padding-top: 5vh;
}

.form input{
    display: block;
}

.form button{
    position: absolute;
    bottom: 2vh;
    right: 5vw;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #2d56de;
    border: none;
    padding: 9px;
    border-radius: 8px 24px;
    cursor: pointer;
}   

.form button:hover{
    padding: 11px;
    bottom:1vh;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.flex input{
    border-top: none;
    border-left: none ;
    border-right: none ;
    border-bottom: solid 2px #2d56de ;
}

.flex input:focus{
    outline: none;
    border-bottom: solid 3px #2d56de ;
}

.flex input:focus::placeholder{
    color: transparent;
}

.form div.flex:first-child{
    margin-bottom: 30px;
}

.flex div label{
    margin-bottom: 10px;
}

.sla{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

::placeholder{
    font-size: 16px;
}

.footerCenter a{
    color: white;
}

.footerCenter h4{
    margin-top: 2vh;
}